    body {
        margin: 0;
        background-color: #385184;
        display: flex;
        
    }

    .header {
        display: flex;
        height: 120px;
        width: 100%;
        justify-content: space-between;
        background-color: gray;
    }

    .header2 {
        display: flex;
        height: 120px;
        width: 100%;
        justify-content: space-between;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
    }

    .title {
        width: 15%;
        margin-left: 10px;
        align-self: center;
        display: flex;
    }

    .buscar {
        margin-right: 10px;
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 15%;
        align-items: center;
        justify-content: flex-start;
        justify-self: center;
    }

    .input {
        display: flex;
        align-self: center;
        justify-content: start;
        justify-self: flex-start;

    }

    .box {
        display: flex;
        height: 120px;
        justify-content: space-between;
        background-color: gray;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
    }

    .intervalo{
        height: 20px;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        margin-left: 10%;
        margin-right: 10%;
    }

    .item1 {
        width: 40%;
        height: 50px;
        margin-left: 5%;
        background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
        display: flex;
        justify-content: center;
        align-self: center;
        border-radius: 50px;
        align-items: center;
        
    }

    .item2 {
        width: 40%;
        height: 50px;
        margin-right: 5%;
        background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
        display: flex;
        justify-content: center;
        align-self: center;
        border-radius: 50px;
        align-items: center;
    }

    .materia1 {
        width: 40%;
        height: 50px;
        margin-left: 2%;
        display: flex;
        align-items: center;
    }

    img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        padding: 20px;
    }

    .materia-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .video {
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
    }

    .explicacoes {
        background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }